:root {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-number: #2D2D2D;
  --color-operator: #F98D00;
  --color-clear: #9C9C9C;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-text);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}

.app {
  @media only screen and (max-width: 460px) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
  }
}

.calculator {
  border: 1px solid green;
  height: 75rem;
  max-height: 100vh;
  width: 42rem;
  background: var(--color-background);
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 1.6rem;

  @media only screen and (max-width: 460px) {
    width: 100vw;
    margin: 0;
    justify-content: center;
  }
}

.display {
  font-weight: 100;
  text-align: right;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  flex: 0 30%;

  @media only screen and (max-width: 460px) {
    flex: 0 25%;
  }
  
  &__current {
    flex: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 11rem;

    @media only screen and (max-width: 460px) {
      font-size: 9rem;
    }
  }
  
  &__total {
    flex: 25%;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 460px) {
      display: none;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 8.3rem;
  border: 1px solid aqua;
  flex: 1;
  
  &:not(:last-child) {
   // margin-bottom: 1.5rem;
  }
}

.buttons {
  font-size: 3.5rem;
  border: 1px solid white;
  display: flex;
  flex: 0 70%;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 460px) {
    font-size: 3rem;
    flex: 0 75%;
  }
  
  &__btn {
    width: 9rem;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    backface-visibility: hidden;
    
    &:not(:last-child) {
      margin-right: 1.3rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.btn {
  &--number, &--grey {
    background: var(--color-number);
  }

  &--operator {
    background: var(--color-operator);
  }
  
  &--clear {
    background: var(--color-clear);
    color: var(--color-background);
  }
}

.footer {
  font-size: 2rem;
  text-align: center;

  @media only screen and (max-width: 460px) {
    display: none;
  }
  
  &__link {
    text-decoration: none;
    color: var(--color-text);
    
    &:hover {
      color: #dedede;
    }
  }
}

.width-50 {
  flex: 50%;
  border-radius: 10rem;
}

.glow-fade-number {
  animation: glow-fade-number 1s;
}

.glow-fade-operator {
  animation: glow-fade-operator 1s;
}

.glow-fade-clear {
  animation: glow-fade-clear 1s;
}

@keyframes glow-fade-number {
  0% {
    background-color: #dedede;
  }

  100% {
    background-color: var(--color-number);
  }
}

@keyframes glow-fade-operator {
  0% {
    background-color: #dedede;
  }

  100% {
    background-color: var(--color-operator);
  }
}

@keyframes glow-fade-clear {
  0% {
    background-color: #dedede;
  }

  100% {
    background-color: var(--color-clear);
  }
}

