:root {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-number: #333333;
  --color-operator: #EE9943;
  --color-clear: #A8A9AC;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 4rem;
  font-weight: 200;
  color: var(--color-text);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}

.calculator {
  height: 75rem;
  width: 42rem;
  background: var(--color-background);
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.8);
}

.display {
  flex: 1;
  font-weight: 100;
  text-align: right;
  display: flex;
  flex-direction: column;
  
  &__current {
    flex: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 11rem;
    padding-right: 2rem;
  }
  
  &__total {
    flex: 25%;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 9rem;
}

.buttons {
  padding: 1.3rem;
  font-size: 3.5rem;
  
  &__btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.btn {
  &--number, &--grey {
    background: var(--color-number);
  }

  &--operator {
    background: var(--color-operator);
  }
  
  &--clear {
    background: var(--color-clear);
    color: var(--color-background);
  }
}

.width-50 {
  flex: 50%;
  border-radius: 10rem;
}

