:root {
  --color-background: #000;
  --color-text: #fff;
  --color-numbers: #2d2d2d;
  --color-operator: #f98d00;
  --color-clear: #9c9c9c;

  --btn-width: 9rem;
  --btn-margin: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #555;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}

.app {
  @media only screen and (max-width: 460px) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
  }
}

/*=============================
      CALCULATOR STYLING
==============================*/
.calculator {
  width: 42rem;
  height: 75rem;
  margin: 6rem auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
  overflow: hidden;

  @media only screen and (max-width: 460px) {
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    justify-content: center;
  }
}

// Calculator Display
.display {
  font-weight: 100;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex: 0 30%;

  @media only screen and (max-width: 460px) {
    flex: 0 25%;
  }

  &__current {
    flex: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 11rem;

    @media only screen and (max-width: 460px) {
      font-size: 9rem;
    }
  }

  &__total {
    flex: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;

    @media only screen and (max-width: 460px) {
      display: none;
    }
  }
}

// Calculator Buttons
.buttons {
  flex: 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 460px) {
    flex: 0 75%;
    font-size: 3rem;
  }

  .row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: var(--btn-width);
    height: 85%;
    font-size: 4rem;
    color: var(--color-text);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    user-select: none;
    backface-visibility: hidden;
    outline: none;
    transition: all 0.3s;
    position: relative;

    &:not(:last-child) {
      margin-right: var(--btn-margin);
    }

    &:hover {
      opacity: 0.9;
    }

    &::after {
      content: '';
      display: block;
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
    }
  }
}

.btn {
  position: relative;

  &--number,
  &--grey {
    background: var(--color-numbers);
  }

  &--operator {
    background: var(--color-operator);

    &.active {
      background: var(--color-text);
      color: var(--color-operator);
    }
  }

  &--clear {
    background: var(--color-clear);
    color: var(--color-background);
  }

  &--number,
  &--clear {
    &.active {
      animation: key-press-number 0.5s ease-in;
    }
  }
}

/*=====================
        FOOTER
======================*/
.footer {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;

  @media only screen and (max-width: 460px) {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
      color: #dedede;
    }
  }
}

// Helper Classes
.width-50 {
  width: calc((var(--btn-width) * 2) + var(--btn-margin));
  border-radius: 10rem;
}

// Animations
@keyframes key-press-number {
  0% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: var(--color-numbers);
  }
}
