<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title iO-JS Calculator

  body
    main(class="app")
      .calculator
        .display
          .display__total
          .display__current 0
        .buttons
          .row
            button(class="buttons__btn btn--clear width-50" id="AC" data-action-js="clear-all") AC
            button(class="buttons__btn btn--clear" id="CE" data-action-js="clear") CE
            button(class="buttons__btn btn--operator" id="/" data-action-js="divide") ÷
          .row
            button(class="buttons__btn btn--number") 7
            button(class="buttons__btn btn--number") 8
            button(class="buttons__btn btn--number") 9
            button(class="buttons__btn btn--operator" id="*" data-action-js="multiply") ×
          .row
            button(class="buttons__btn btn--number") 4
            button(class="buttons__btn btn--number") 5
            button(class="buttons__btn btn--number") 6
            button(class="buttons__btn btn--operator" id="-" data-action-js="subtract") −
          .row
            button(class="buttons__btn btn--number") 1
            button(class="buttons__btn btn--number") 2
            button(class="buttons__btn btn--number") 3
            button(class="buttons__btn btn--operator" id="+" data-action-js="add") +
          .row
            button(class="buttons__btn btn--number width-50") 0
            button(class="buttons__btn btn--grey" data-action-js="decimal") .
            button(class="buttons__btn btn--operator" data-action-js="calculate") =

      .footer(class="footer")
        | Designed and Coded by 
        a(class="footer__link", href="https://github.com/EricSnell") Eric Snell